.main{
    display: flex;
    justify-content: center;
    &_content{
        
        &_info{
            
        display: flex;
        justify-content: space-between;
        }
        width: 80%;
        max-width: 1170px;
        padding: 1.5vw;
    }
}

@media screen and (max-width: 1024px) {
    .main{
        &_content{
            &_info{
                flex-direction: column-reverse;
            }
            width: 90%;
        }
    } 
}

@media screen and (max-width: 768px) {
    .main{
        &_content{
            width: 100%;
        }
    } 
}